@charset "UTF-8";
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main{
	padding: 50px;
	background-color: #fffcfc;
}
form{
	display: block;
	font-family: 'CookieRun-Regular';
}

.content-title{
	font-size: 25px;
	color: #2d336b;
	margin: 0;
	padding: 30px 0;
}

table{
	height: 300px;
	margin: 30px auto;
}
.detail td{
	width: 300px;
	text-align: center;
	
}

.tbTitle {
	border-radius: 4px;
	background-color: #8089dd;
	font-size: 15px;
	color: #fff;
}

.tbTitle .modify{
	display: flex;
	justify-content: center;
	align-items: center;
}

.modify .star {
	margin-left: 10px;
	color: red;
	font-size: 20px;
}

.tbContent{
	border-radius: 4px;
	background-color: #fff;
}

.inputText input {
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 15px;
	font-family: 'CookieRun-Regular';
}

.button {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.delete-button{
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #8089dd;
	text-decoration: none;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 100px;
	transition-duration: 1.0s;
}

.modify-button button{
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #8089dd;
	text-decoration: none;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border: none;
	width: 140px;
	font-size: 16px;
	transition-duration: 1.0s;
	font-family: 'CookieRun-Regular';	
}

.delete-button a{
	color: #fff;
	text-decoration: none;
}

.delete-button:hover,  .modify-button button:hover{
	background-color : #2d336a;
}

.cuscontent-title{
	font-size: 25px;
	color: #2d336b;
	margin: 0;
	padding: 30px 0;
}
.cusdetail {
	width: 600px;
	text-align: center;
}
.cusdetail td{
	width: 300px;
	text-align: center;
	height: 45px;
}
